.lineArticle {
display: flex;
}
.firstArticle {
    height: 502px;
    width: 380px;
    background-color: #282c34;
}
.secondArticle {
    height: 502px;
    width: 380px;
    background-color: #282c34;
}
.thirdArticle {
    height: 502px;
    width: 380px;
    background-color: #282c34;
}