body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Abel', sans-serif;
}

.bannerH1 {
    font-family: 'Abel', sans-serif;
    font-size: 60px;
    height: 76px;
    width: 330px;
    padding-top: 120px;
    margin-top: auto;
    margin-bottom: auto;
}

.bannerH2 {
    font-family: 'Abel', sans-serif;
    font-size: 36px;
    height: 46px;
    width: 375px;
    margin-top: auto;
}
