body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Abel', sans-serif;
}

.bannerH1 {
    font-family: 'Abel', sans-serif;
    font-size: 60px;
    height: 76px;
    width: 330px;

}

.bannerH2 {
    font-family: 'Abel', sans-serif;
    font-size: 36px;
    height: 46px;
    width: 375px;
}

.bannerButtons {
    margin-left: 130px;

}

.whiteButton {
    height: 60px;
    width: 283px;
    border: none;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    margin-right: 25px;
    font-family: 'Abel', sans-serif;
    font-size: 26px;
}

.blackButton {
    height: 60px;
    width: 283px;
    border: none;
    border-radius: 0px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Abel', sans-serif;
    font-size: 26px;
}